/* to make border and padding inside the elements*/ 
* {
  box-sizing: border-box
}

body {
  background-color: rgb(227, 227, 227);
  width: 100%;
  max-width: 900px;
  margin: 4em auto;
  font:
    0.9em/1.2 Arial,
    Helvetica,
    sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
}

.container > div {
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(239, 239, 239);
  border: 2px solid #ffffff;
  margin: 40px;
}
