#circle {
  /* color blue */
  background-color: blue;
  /* circle */
  border-radius: 50%;
  /* size = half of viewport height */
  width: 50vh; 
  height: 50vh;
  /* center of page */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}