/* html */ 
* {
    box-sizing: border-box
  }

html {
    background-color: blue;
    font-family: Roboto Mono;
    font-size:10px;
    padding: 10px;
}

/* square boxes */ 
#material_list {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* change color when hover */
.item {
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 90px;
}
.item:hover {
    /* put your hover styling here */
    background-color:rgb(255, 0, 255);
}

/* color */
.Pink {
    background-color: pink;
}
.Red {
    background-color: red;
}
.Blue {
    background-color: rgb(111, 255, 243);
}
.White {
    background-color: rgb(255, 247, 247);
}
.Cream {
    background-color: rgb(255, 230, 140);
}
.Beige {
    background-color:rgb(199, 185, 164);
}
.Metalic {
    background-color:rgb(101, 101, 101); 
}
.Light_green {
    background-color:rgb(170, 255, 125);
}

/* info tab */ 
.item .material {
    visibility:hidden;
    font-size: 12px; 
    background-color:rgb(251, 242, 0);
    color:black;
    box-shadow: 0 4px 8px rgb(0, 13, 107);
    width: 500px;

    border-radius:10px;
    padding:5px;
    top: 200px;
    left: 500px;
    z-index: 1000; /* position in-front of other objects  */
}

.item:hover .material {
  visibility: visible;
}

.Vinyl {
    position:fixed;
}
.Plastic {
    position:fixed;
}
.Nylon {
    position:fixed;
}
.Paper {
    position:fixed;
}
.Cotton {
    position:fixed;
}
.Metal {
    position:fixed;
}
.Polyester {
    position:fixed;
}

img {
    max-width: 100%; /* Ensure images don't exceed their container's width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make images block-level elements for spacing */
    margin: 5px auto; /* Add margin for spacing between images */
}

.title {
    color: red;
    font-weight: bold;
}

.item-image {
    width: 300px;
    height: auto;
}